body {
    background-color: #e7e2b7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bg-primary{
    background-color: #79562fce!important;
}

.card {
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-header {
    font-weight: bold;
}

.btn-primary {
    background-color: #838383a4;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
    background-color: #79562fce;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #bbb77e;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(224, 223, 118, 0.452);
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
    font-weight: 500;
}

.nav-link:hover {
    color: #fff;
}

.nav-link:hover {
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

.btn {
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    animation: fadeIn 0.5s ease forwards;
}

.container {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.5s ease;
    transition-delay: 0.3s;  /* slight delay to make sure page is loaded */
}

body:is(.loaded) .container {
    opacity: 1;
    transform: translateY(0);
}

.navbar-nav .active-link {
    background-color: #b7eff354; /* Grauer Hintergrund */
    border-radius: 66%;
}

.navbar-nav .active-link .nav-link {
    color: #ffffff !important;
}
